// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss

$theme_fg_color: "@theme_fg_color";
$theme_bg_color: "@theme_bg_color";
$inactive-ws: "@unfocused_insensitive_color";
$theme_alt_bg_color: "@unfocused_borders";
@import "accent";
@import "widget/Bar/style";
@import "widget/NotificationCenter/style";

