Code - OSS/
dconf/
discord/
Electron/
fish
go 
google-chrome
gtk-3.0
kde.org
pulse
session
systemd
uv
dolphinrc
mimeapps.list
baloofileinformationrc
trashrc
vlc/
obs-studio/
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
swappy
QtProject.conf

