Code 
ags/currentTheme.json
ags/theme.scss
hypr/options.conf
Code - OSS/ 
warp-terminal
dconf/
discord/
Electron/
fish
go 
google-chrome
gtk-3.0
kde.org
pulse
session
systemd
uv
dolphinrc
mimeapps.list
baloofileinformationrc
trashrc
vlc/
obs-studio/
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
swappy
QtProject.conf
create-next-app-nodejs
nextjs-nodejs
flutter
GIMP
gtk-2.0
obsidian
gtk-4.0
ags/image/
htop/
btop/
ngrok/
gh/
simple-update-notifier/
kwalletrc
envman/
tmux/
nvim.old/
