
@import "theme";
@import "widget/CalendarCenter/style";
@import "widget/PowerMenu/style";
@import "widget/ControlCenter/style";
@import "widget/Bar/style";
@import "widget/AppLauncher/style";
@import "widget/Notification/style";
@import "widget/NotificationCenter/style";
@import "widget/VolumeControl/style";
@import "widget/WifiMenu/style";
@import "widget/NewNetwork/style";

window {
    font-family: JetBrains Mono NF
}
