#bar1, #bar0 {
    background-color: transparent;
    border-top-width: 10px;
}

#control_center1, #control_center2{
    background-color: transparent;
}

#window_box {
    margin: 10px 17px;
    padding: 5px;
    background-color: #000000;
    border-radius: 40px;
}

#button { 
    border-radius: 50px;
    min-height: 9px;
    min-width: 9px;
    margin: 0 4px;
    padding: 0;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
}
.not-focused{
    background-color: #adadad;
}
.focused {
    background-color: #6f6feb;
    margin-left: 40px;
}
 
.workspaces{
    margin: 10px 5px;
}

.logo{
    padding: 0 2px 0 15px;
    font-size: 20px;
}

.date{
    color: #fff;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
}

.right{
    padding-right: 15px;
}

.button{
    padding: 0;
    font-size: 17px;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: 0 0 0;
    font-weight: bolder;
}

.invisible {
    opacity: 0;
}

.activated-icon{
    color: #000000;
}

.activated-box{
    background-color: #ffffff;
}


.power-menu{
    color: #aa0e57;
}
.control-center{
    border-radius: 10px;
    padding: 0px 7px 0px 10px;
}
.control-center-button{
    color: #fff;
}
.control-center-menu{
    border-radius: 10px;
    background-color: #000000;
    padding: 20px;
}

.user-card{
    color: #ffffff;
    font-family: 'JetBrainsMono Nerd Font';
}

.avatar {
    font-size: 40px;
}

.top-opts{
    color: #ffffff;
    font-size: 25px;
}

.opts-box{
    background-color: #151515;
    padding: 8px 10px;
    border-radius: 5px;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    color: #ffffff;
}

.vol-ctl{
    padding: 12px 14px;
    color: #ffffff;
    background-color: #151515;
    border-radius: 10px;
}

.vol-level{
    padding: 0 5px;
    border-radius: 50px;
    background-color: transparent;
    font-size: 0px;
    min-width: 250px;
    min-height: 20px;
}
.vol-level trough {
    border-radius: 50px; 
    background-color: #fff; 
    /* -gtk-outline-left: 0px; */
    min-height: 10px;
}

.vol-level trough highlight {
    background-color: #6f6feb;
    border-radius: 50px; 
}

.vol-level trough slider {
    all:unset
}
