.control-center-window{
    background-color: transparent;
}

.control-center{
    border-radius: 10px;
    padding: 0px 7px 0px 10px;
}
.control-center-button{
    color: @fg;
}
.control-center-menu{
    border-radius: 10px;
    background-color: @bg;
    padding: 20px;
}

.user-card{
    color: @fg;
    font-weight: 900;
}

.avatar {
    color: @fg;
    font-size: 40px;
}

.top-opts{
    color: @fg;
    font-size: 25px;
}

.opts-box{
    background-color: @alt-bg;
    padding: 8px 10px;
    border-radius: 5px;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    color: @fg;
}

.section{
    color: @fg;
    background-color: @alt-bg;
    border-radius: 10px;
    padding: 6px 12px 6px 14px;
}

.vol-level{
    border-radius: 50px;
    background-color: transparent;
    font-size: 0px;
    min-height: 10px;
}
.vol-level trough {
    border-radius: 50px; 
    background-color: @fg; 
    min-height: 5px;
}

.vol-level trough highlight {
    background-color: @accent;

}

.vol-level trough slider {
    all:unset;
}

.shortcut-menu-item {
    border-radius: 5px;
    background-color: @alt-bg;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    color: @fg;
    padding: 7px 13px;
    font-size: 16px;
    font-weight: bolder;
}

.toggle-menu{
    border-radius: 5px 0 0 5px;
    min-width: 90px;
}


.drop-down{
    border-radius: 0 5px 5px 0;
}

.active {
    background-color: @accent;
    color: @bg;
    -gtk-icon-shadow: 0 0 0;
    text-shadow: 0 0 0;
}