.control-center-window{
    background-color: transparent;
}

.control-center{
    border-radius: 10px;
    padding: 0px 7px 0px 10px;
}
.control-center-menu{
    border-radius: 10px;
    background-color: @bg;
    padding: 20px 20px 6px 20px;
    margin: 10px 17px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.user-card{
    color: @fg;
    font-weight: 900;
}

.avatar {
    color: @fg;
    font-size: 40px;
}

.top-opts{
    color: @fg;
    font-size: 25px;
}

.opts-box{
    background-color: @alt-bg;
    padding: 8px 10px;
    border-radius: 5px;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    color: @fg;
}

.section{
    color: @fg;
    background-color: @alt-bg;
    border-radius: 10px;
    padding: 6px 12px 6px 14px;
}

.vol-level{
    border-radius: 50px;
    background-color: transparent;
    font-size: 0px;
    min-height: 10px;
}
.vol-level trough {
    border-radius: 50px; 
    min-height: 5px;
    background-color: #838383;
    border-color: #838383;
}

.vol-level trough highlight {
    background-color: @accent;
    border: 0px;
}

.vol-level trough slider {
    all:unset;
}

.shortcut-menu-item {
    border-radius: 5px;
    background-color: @alt-bg;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    color: @fg;
    padding: 7px 13px;
    font-size: 16px;
    font-weight: bold;
    min-width: 111px;
    text-shadow: 0 0 0;
}

.toggle-menu{
    border-radius: 5px 0 0 5px;
}

.drop-down{
    border-radius: 0 5px 5px 0;
    min-width: 0;
}

.active {
    background-color: @accent;
    color: @bg;
    -gtk-icon-shadow: 0 0 0;
    text-shadow: 0 0 0;
}

.accent-icon {
    padding: 0;
    background-image: none;
    border: 0;
    -gtk-icon-shadow: 0 0 0;
    text-shadow: 0 0 0;
    box-shadow: none;
    border-color: transparent;
    min-width: 0;
    color: @fg;
}

.accent-label{
    font-weight: bold;
    color: @fg;
}

.media-player {
    min-height: 2px; 
    min-width: 2px; 
}

.player {
    padding: 12px;
    min-width: 350px;
    background-color: @alt-bg;
    border-radius: 9px;
    margin-bottom: 12px;
}

.player .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-right: 1em;
}

.player .title {
    font-size: 1.2em;
    color: @fg;
}

.player .artist {
    font-size: 1.1em;
    color: @fg;
}

.player scale.position {
    padding: 0;
    margin-bottom: .3em;
}

.player scale.position trough {
    min-height: 8px;
    border-radius: 8px;
    background-color: #838383;
    border-color: #838383;
}

.player scale.position highlight {
    background-color: @accent;
    border: 0px;
    border-radius: 8px;
}

.player scale.position slider {
    all: unset;
}

.player button {
    min-height: 1em;
    min-width: 1em;
    padding: .3em;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
    color: @fg;
    -gtk-icon-shadow: 0 0 0;
}

.player button.play-pause {
    margin: 0 .3em;
}

.player .icon {
    color: @fg;
}