@use "sass:color";

.profile-image {
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    min-height: 60px;
    min-width: 60px;
    margin-right: 10px;
    background-image: url('/home/yash/.config/ags/image/profile');
}

.control-center-box {
    background-color: $theme_bg_color;
    padding: 20px;
    border-radius: 7px;
    margin: 10px 20px;
    font-size: 16px;
}

.control-center-box {
    color: $theme_fg_color;
}

.mr-7px {
    margin-right: 7px;
}

.control-center-menu-btn {
    background-color: $theme_alt_bg_color;
    color: $theme_fg_color;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 24px;
}

.audio-slider-container {
    padding: 15px 25px 15px 20px;
    border-radius: 7px;
    background-color: $theme_alt_bg_color;
}

.audio-slider{
    * {
        all: unset;
    }
    icon {
        margin-right: 20px;
        font-size: 18px;
    }

    trough {
        background-color: color.adjust($theme_fg_color, $alpha: -0.5);
        border-radius: 7px;
    }

    highlight {
        background-color: $accent;
        min-height: .8em;
        border-radius: 7px;
    }

    slider {
        background-color: $theme_fg_color;
        border-radius: 7px;
        min-height: 1em;
        min-width: 1em;
        margin: -.2em;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    }
}

.option-container {
    background-color: $theme_alt_bg_color;
    border-radius: 7px;
    min-width: 190px;
    min-height: 45px;
    

    label {
        min-width: 140px;
        font-size: 18px;
    }

    button {
        margin: 0;
        padding: 0;
        background-color: transparent;

        icon {
            font-size: 18px;
        }
    }
}



.mr-10px {
    margin-right: 10px;
}

.ml-15px {
    margin-left: 15px; 
}

.text-active {
    color: $theme_bg_color;
}

.text-normal {
    color: $theme_fg_color;
}

box.mpris-player {
    background-color: $theme_alt_bg_color;
    border-radius: 7px;
    padding: 10px;
    
    .cover-art {
        background-size: cover;
        background-position: center;
        border-radius: 12px;
        min-height: 110px;
        min-width: 110px;
        margin-right: 10px;
        margin-bottom: 15px;
        // filter: blur(5px);
    }

    box.title {
        label {
            font-weight: bold;
            font-size: 1.1em;
        }
    }

    scale {
        padding: 0;
        margin: .4rem 0;

        slider {
            all: unset; 

        }
        trough {
            background-color: color.adjust($theme_fg_color, $alpha: -0.5);
            border-radius: 7px;
        }
    
        highlight {
            all: unset;
            background-color: $accent;
            min-height: 8px;
            border-radius: 7px;
        }
    }
    centerbox.actions {
        min-width: 220px;

        button {
            background-color: $theme_alt_bg_color;
            min-width: 0;
            min-height: 0;
            padding: .4rem;
            margin: 0 .2rem;
        }
    }
}

.open-menu-btn {
    color: $theme_bg_color;
    border-radius: 10px;
    padding: 0 20px;
    min-width: 40px;
    icon{
        font-size: 24px;
    }
}
