.app-launcher-box {
    background-color: $theme_bg_color;
    padding: 20px;
    border-radius: 7px;
    margin: 150px 20px 10px 20px;
    font-size: 16px;
    min-height: 100px;
    min-width: 500px;
}

.app-button {
    background-color: transparent;
    color: $theme_fg_color;
    border-radius: 10px;
    font-size: 24px;

    box {
        border-radius: 10px;
        color: $theme_fg_color;
        
    }

    icon {
        font-size: 54px;
        margin-right: 10px;
    }

    .name {
        font-size: 18px;
        font-weight: bold;
    }

    .description {
        font-size: 14px;
        color: $theme_fg_color;
    }
}

.entry {
    background-color: $theme_alt_bg_color;
    color: $theme_fg_color;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18px;

    placeholder {   
        color: $theme_fg_color;
    }
}

.entry:focus {
    box-shadow: 0 0 0px 2px $inactive-ws;
}

.command-view {
    background-color: $accent;
    color: $theme_bg_color;
    padding: 20px;
    border-radius: 10px;

    icon {
        font-size: 72px;
    }

    box {
        .command-head {
            font-size: 24px;
        }
        .command-desc {
            font-size: 16px;
        }
    }
}

.splitter {
    background-color: $accent;
    padding: 20px;
    border-radius: 10px;
    color: $theme_bg_color;
    font-size: 54px;

    icon {
        font-size: 72px;
    }

    switch {
        slider {
            background-color: $theme_bg_color;
            .checked {
                background-color: $accent;
            }
        }
    }

    box {
        .command-head {
            font-size: 24px;
        }
        .command-desc {
            font-size: 16px;
        }
    }
    .switch-box{
        margin: 20px 0;
    }
}
