.wallpaper-switcher-box {
    background-color: $theme_bg_color;
    border-radius: 7px;
    padding: 10px;
    min-width: 300px;
    margin: 10px 20px;
}

.wallpaper-option {
    background-size: cover;
    background-position: center;
    border-radius: 3.5px;
    min-height: 150px;
    min-width: 100px;
    margin: 8px 5px;
}

.scrollable {
    background-color: $theme_bg_color;
    border: 0;
    outline: 0;
    viewport {
        border: 0;
    }
}
.wallpaper-option-btn {
    background-color: $theme_bg_color;
}

.wallpaper-option-btn-active {
    background-color: $accent;
}