.bar{
    background-color: transparent;
    border-top-width: 10px;
}

.bar-box {
    margin: 10px 17px;
    padding: 5px;
    background-color: @bg;
    border-radius: 40px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.full-opacity{
    opacity: 1;
}

.workspaces{
    margin: 5px;
}

#workspace-tabs { 
    min-height: 9px;
    margin: 0 4px;
    padding: 0;
    background-image: none;
    box-shadow: none;
    border-color: transparent;
}

.not-focused{
    background-color: @inactive-ws;
    min-width: 9px;
    border-radius: 50px;
}
.focused {
    background-color: @accent;
    min-width: 25px;
    border-radius: 3px;
}

#focused {
    padding: 2px;
}

.workspace-container{
    padding: 5px 0px;
}


.toggle-button{
    color: @fg;
}

.logo{
    padding: 0 2px 0 15px;
    font-size: 20px;
    color: @accent;
}

.date{
    color: @fg;
    font-weight: bold;
}

.date-button {
    background-color: @alt-bg;
    padding: 0 10px;
    border-radius: 10px;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
}

.right{
    padding-right: 15px;
}

.activated-box{
    background-color: @fg;
    color: @fg-complement;
}

.button{
    padding: 0;
    font-size: 17px;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: 0 0 0;
    font-weight: bolder;
}

.power-menu{
    color: #aa0e57;
    padding: 0px 8px;
    border-radius: 10px;
}

.wallpaper-menu{
    padding: 3px 5px;
    border-radius: 8px;
}
